<div class="page-header">
  <h1>Book a meeting</h1>
  <p class="lead">Tired of running into full calendars?<br> This tool helps you finding the perfect splot for a group of busy people.</p>
</div>

<form>
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add</button>
      </span>
    </div>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Priority</th>
    </tr>
    <tr>
      <td>kevin.hodgeson@teamaol.com</td>
      <td>
          <select class="form-control">
            <option>required</option>
            <option>important</option>
            <option>optional</option>
          </select>
      </td>
    </tr>
    <tr>
      <td>peter.smith@teamaol.com</td>
      <td>
          <select class="form-control">
            <option>required</option>
            <option>important</option>
            <option>optional</option>
          </select>
      </td>
    </tr>
    <tr>
      <td>roy.stanton@teamaol.com</td>
      <td>
          <select class="form-control">
            <option>required</option>
            <option>important</option>
            <option>optional</option>
          </select>
      </td>
    </tr>
  </table>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Search...</button>
  </div>

</form>
