<div class="page-header">
  <h1>Book a meeting</h1>
  <p class="lead">Tired of running into full calendars?
    <br>This tool helps you finding the perfect spot for a group of busy people.</p>
</div>

<form>
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="emailInput" name="emailInput"
      [(ngModel)]="participant.email" placeholder="Email..."/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="onAdd()">Add</button>
      </span>
    </div>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>Priority</th>
      <th></th>
    </tr>
    <tr *ngFor="let participant of booking.participants; let i=index" name="participants">
      <td>{{participant.email}}</td>
      <td>
          <select class="form-control" required
          [(ngModel)]="participant.attendanceLevel" name="level--{{i}}">
             <option *ngFor="let lev of levels" [ngValue]="lev">
               {{lev.name}}
             </option>
          </select>
      </td>
      <td class="col-lg-1">
        <button type="button" class="btn btn-default" aria-label="Remove"
          (click)="onRemove(i)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-default" (click)="onSearch()">Search...</button>
  </div>

</form>
