<div class="page-header">
  <h1>Book a meeting</h1>
</div>

<form>
  <div class="container">

    <div class="row extra-margin">
      <div class="col-md-11">
        <input type="text" id="title" name="title" [(ngModel)]="booking.title"
          class="form-control" placeholder="Untitled event"/>
      </div>
    </div>

    <div class="row extra-margin">
      <div class="form-group">
        <div class="col-md-2">
          <label for="dateStart">Start</label>
          <datetime [timepicker]="false" id="dateStart" name="dateStart"
          [(ngModel)]="booking.start" [datepicker]="state"></datetime>
        </div>

        <div class="col-md-2">
          <label for="duration">Duration</label>
          <select class="form-control" required
          [(ngModel)]="booking.duration" id="duration" name="duration">
             <option *ngFor="let duration of durations" [ngValue]="duration">
               {{duration.name}}
             </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row extra-margin">
      <div class="form-group">
        <div class="col-md-11">
          <label for="location">Where</label>
          <input type="text" id="location "name="location"
          [(ngModel)]="booking.location" class="form-control" placeholder="Location"/>
        </div>
      </div>
    </div>

    <div class="row extra-margin">
      <div class="form-group">
        <div class="col-md-11">
          <label for="description">Description</label>
          <textarea id="description" name="description" class="form-control"
          [(ngModel)]="booking.description" rows="5">
          </textarea>
        </div>
      </div>
    </div>

    <div class="row extra-margin-2">
      <div class="col-md-11">
        <label for="emailInput">Participants</label>
        <input id="emailInput" name="emailInput" placeholder="email..."
          class="form-control"
          [(ngModel)]="participant.email"
          [typeahead]="dataSource"
          (typeaheadOnSelect)="typeaheadOnSelect($event)"
          [typeaheadOptionsLimit]="10"
          [typeaheadMinLength]="3"
          [typeaheadOptionField]="'name'"/>
      </div>
      <div class="col-md-1">
        <label for="add">&nbsp;</label>
        <button class="btn btn-default btn-block" id="add" type="submit" (click)="onAdd()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
      </div>
    </div>

    <div class="row extra-margin" >
      <div class="col-md-12">
        <table class="table table-striped table-condensed">
          <tr>
            <th>Name (email)</th>
            <th>Priority</th>
            <th></th>
          </tr>
          <tr *ngFor="let participant of booking.participants; let i=index" name="participants">
            <td class="col-md-7" *ngIf="participant.name">{{participant.name}} ({{participant.email}})</td>
            <td class="col-md-7" *ngIf="!participant.name">{{participant.email}}</td>
            <td class="col-md-4">
                <select class="form-control" required
                [(ngModel)]="participant.attendanceLevel" name="level--{{i}}">
                   <option *ngFor="let lev of levels" [ngValue]="lev">
                     {{lev.name}}
                   </option>
                </select>
            </td>
            <td class="col-md-1">
              <button type="button" class="close" aria-label="Close" (click)="onRemove(i)">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary" (click)="onSearch()">Search...</button>
      </div>
    </div>
  </div>

  {{allocation}}

</form>
